@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Rubik+Wet+Paint&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

a {
    color: currentColor;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 1.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.col-6 {
    width: calc(6 * 100% / 12);
}

.htmlColor {
    background-color: darksalmon
}

.cssColor {
    background-color: dodgerblue
}

.jsColor {
    background-color: rgb(253, 188, 22)
}

.phpColor {
    background-color: green;
}

.htmlColor,
.cssColor,
.jsColor,
.phpColor {
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

ul {
    gap: 10px
}